<% if flash[:notice] %>
  <p class="alert"><%= flash[:notice] %></p>
<% end %>

<%= form_with(model: @contact, local: true) do |form|%>
  <div class="name">
    <%= form.label :"お名前" %>
    <%= form.text_field :name %>
  </div>
  
  <div class="email">
    <%= form.label :"メールアドレス" %>
    <%= form.text_field :email %>
  </div>

  <div class="content">
    <%= form.label :"お問い合わせ内容" %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
  
<%end%>